streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
chromadb
sentence-transformers
huggingface-hub
pypdf
pymupdf
groq
python-dotenv
torch
torchvision
uvicorn
protobuf==3.20.3